body {
      font-family: Arial, sans-serif;
      text-align:center;
      margin: 20xp;
}

h1 {
    color: #333;
}
 
button {
       background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
}

p {
    FONT-SIZE: 20px;
    margin-top: 20px;
}

